https://pynative.com/python-tuple-exercise-with-solutions/

#### Exercise 1: Reverse the following tuple

In [1]:
aTuple = (10, 20, 30, 40, 50)

In [3]:
aTuple[::-1]

(50, 40, 30, 20, 10)

#### Exercise 2: Access value 20 from the following tuple

In [4]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [6]:
aTuple[1][1]

20

#### Exercise 3: Create a tuple with single item 50

In [8]:
aTuple = (50,)

In [9]:
aTuple

(50,)

In [10]:
type(aTuple)

tuple

#### Exercise 4: Unpack the following tuple into 4 variables

In [11]:
aTuple = (10, 20, 30, 40)

In [14]:
a,b,c,d, = aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

#### Exercise 5: Swap the following two tuples

In [15]:
tuple1 = (11, 22)
tuple2 = (99, 88)

In [16]:
tuple1,tuple2 = tuple2,tuple1

In [17]:
tuple1

(99, 88)

In [18]:
tuple2

(11, 22)

#### Exercise 6: Copy element 44 and 55 from the following tuple into a new tuple

In [23]:
tuple1 = (11, 22, 33, 44, 55, 66)

In [25]:
newtuple = (tuple1[3:5])
newtuple

(44, 55)

#### Exercise 7: Modify the first item (22) of a list inside a following tuple to 222

In [26]:
tuple1 = (11, [22, 33], 44, 55)

In [28]:
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

#### Exercise 8: Sort a tuple of tuples by 2nd item  
***Dont understand***

In [29]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [37]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

#### Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [35]:
tuple1 = (50, 10, 60, 70, 50)

In [36]:
tuple1.count(50)

2