https://pynative.com/python-set-exercise-with-solutions/

#### Exercise 1: Add a list of elements to a given set

In [1]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

In [8]:
sampleSet.update(sampleList)
sampleSet

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

#### Exercise 2: Return a new set of identical items from a given two set

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [10]:
set1.intersection(set2)

{30, 40, 50}

#### Exercise 3: Returns a new set with all items from both sets by removing duplicates

In [32]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [34]:
set1.update(set2)
set1

{10, 20, 30, 40, 50, 60, 70}

#### Exercise 4: Given two Python sets, update the first set with items that exist only in the first set and not in the second set.

In [35]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

In [39]:
set1.difference_update(set2)
set1

{10, 30}

#### Exercise 5: Remove items 10, 20, 30 from the following set at once

In [40]:
set1 = {10, 20, 30, 40, 50}

In [46]:
set1.difference_update({10,20,30})
set1

{40, 50}

#### Exercise 6: Return a set of all elements in either A or B, but not both

In [51]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [52]:
set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

#### Exercise 7: Check if two sets have any elements in common. If yes, display the common elements.

In [53]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

In [59]:
for x in set1:
    if x in set2:
        print("Two sets have items in common:",x)

Two sets have items in common: 10

In [ ]:
### official methods
if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

#### Exercise 8: Update set1 by adding items from set2, except common items

In [65]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [66]:
set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

#### Exercise 9: Remove items from set1 that are not common to both set1 and set2

In [67]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [68]:
set1.intersection_update(set2)
set1

{30, 40, 50}