https://pynative.com/python-list-exercise-with-solutions/

#### Exercise 1: Reverse a given list in Python

In [12]:
aLsit = [100, 200, 300, 400, 500]

In [13]:
aLsit = aLsit[::-1]

In [14]:
aLsit

[500, 400, 300, 200, 100]

#### Exercise 2: Concatenate two lists index-wise

In [15]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [28]:
 z = [x + y for x,y in zip(list1,list2)]
print(z)

['My', 'name', 'is', 'Kelly']

#### Exercise 3: Given a Python list of numbers. Turn every item of a list into its square

In [29]:
aList = [1, 2, 3, 4, 5, 6, 7]

In [38]:
aList = [x*x for x in aList]

In [39]:
print(aList)

[1, 4, 9, 16, 25, 36, 49]

#### Exercise 4: Concatenate two lists in the following order

In [40]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [41]:
outcome = [x+y for x in list1 for y in list2]

In [42]:
outcome

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

 #### Exercise 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [54]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [59]:
### Method 1
list3 = zip(list1,list2[::-1])
result_list = list(list3)
print(result_list)

[(10, 400), (20, 300), (30, 200), (40, 100)]

In [60]:
### Method 2
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

#### Exercise 6: Remove empty strings from the list of strings

In [61]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [67]:
new_list = list(filter(None,list1))

In [68]:
new_list

['Mike', 'Emma', 'Kelly', 'Brad']

#### Exercise 7: Add item 7000 after 6000 in the following Python List

In [69]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [71]:
list1[2][2].append(7000)

In [72]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#### Exercise 8: Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

In [93]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [89]:
### Method 1
list1[2][1].insert(3,sub_list)

In [90]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g'], ['h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [94]:
### Method 2
list1[2][1][2].extend(sub_list)

In [95]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#### Exercise 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [101]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [102]:
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

#### Exercise 10: Given a Python list, remove all occurrence of 20 from the list

In [103]:
list1 = [5, 20, 15, 20, 25, 50, 20]

In [113]:
outcome = []
for num in list1:
    if num != 20:
        outcome.append(num)
        
print(outcome)

[5, 15, 25, 50]